
<app-header></app-header>
<div class="container">
    <div class="search-box">
    <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm" [(ngModel)]="keyword">
    <select class="form-control product-category" name="" id="" [(ngModel)]="selectedCategoryId">
        <option  [value]="0" selected>Tất cả</option>
        @for (category of categories; track category) {
            <option [value]="category.id">{{category.name}}</option>
        }
    </select>
    <button class="btn btn-primary" (click)="searchProducts()">Tìm kiếm</button>
    </div>
    <div class="row">
        @for (product of products; track product) {
        <div class="col-lg-4 col-md-6"  >
            <div class="product-item">
                    <img [src]="product.url" alt="Product-image"
                    class="product-image" (click)="onProductClick(product.id)">
                    <h3 class="product-name" >{{product.name}}</h3>
                    <p class="product-description">{{[product.description]}}</p>
                    <p class="product-price">Giá: ${{product.price}} </p>
                    <div class="product-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <div class="product-actions">
                        <button class="btn btn-primary" (click)="addToCart(product)">Thêm vào giỏ hàng</button>
                        <span class="space-x "></span>
                        <button class="btn btn-success" routerLink="/orders" >Mua ngay</button>
                    </div>
            </div>
        </div >
    }
    </div>
</div>
<nav aria-label="Page navigation">
  <ul class="pagination">
    @if (currentPage > 1) {
    <li class="page-item"><a class="page-link" href="#" (click)="onPageChange(1)">First</a></li>

    }
    @if (currentPage > 1) {
        <li class="page-item"><a class="page-link" href="#" (click)="onPageChange(currentPage - 1)">Previous</a></li>
        }
        <ng-container>
            @for (page of visiblePage; track page) {
                <li class="page-item" [ngClass]="{'active': page === currentPage}">
                    <a class="page-link" href="#" (click)="onPageChange(page)">{{page}}</a></li>
            }
        </ng-container>
    @if (currentPage < totalPages) {
        <li class="page-item"><a class="page-link" href="#" (click)="onPageChange(currentPage+1)">Next</a></li>
    }
    @if (currentPage < totalPages) {
        <li class="page-item"><a class="page-link" href="#" (click)="onPageChange(totalPages)">Last</a></li>
    }
  </ul>
</nav>
<app-footer></app-footer>
